@model TwitterCopyApp.Models.ViewModels.PostViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pb-3 backgroundWhite">

    @foreach (var post in Model.Posts)
    {
        <form method="post">
            <div class="col-8 p-2 container overflow-hidden">
                <div class="card border-primary mb-3">
                    <div class="card-header form-inline">
                        <div class="col-8">@post.User.UserName says:</div>
                        <div class="col-4">@post.CreationDate.ToString("yyyy/MM/dd HH:mm")</div>
                    </div>
                    <div class="card-body">
                        <p class="card-text col-12">@post.Text</p>
                    </div>
                    <div class="card-footer form-inline">
                        <a onclick="LikeUnlike(@post.Id)" id="@post.Id" class="btn-outline-primary ml-5 w-auto"><i class="far fa-heart">@post.Likes</i></a>
                        <button class="btn btn-primary col-8 w-auto offset-6">Add comment</button>
                    </div>
                </div>
            </div>
        </form>
    }
</div>


@section Scripts{

    <script src="~/js/like.js">

    </script>

}